/* style.css */
/* This is your css file */

body {
  color: #5EFF57;
	font-size: 24px;
	background: url("../img/CodeBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #031100;
	font-family: 'Roboto' , sans-serif;
  }
h1, h2, h3 {
  font-family: "VT323", monospace;
}
  p { 
	font-family: 'Roboto' , sans-serif;
	font-size: 16px;
  }
  .container, nav, footer {
	width: 60%;
	display: block;
	margin: 0 auto;
	padding: 10px;
	background: #000
  }
  li {
	display: inline;
	margin-right: 5px;
  }
  
  #logo {
		font-size: 24px;
  }
  
  ul {
	padding-left: 5px;
  }
  .avatar {
	max-width: 200px;
	float: left;
	border: 3px solid #5EFF57;
  }
  
  footer {
	text-align: center;
  }
#navigation {
 font-family: "VT323", monospace;
	font-size: 20px;
}
#navigation a {
  color: #5EFF57;
  margin-right: 10px;
}
.project-details {
  font-size: 16px;
  float: right;
  display: inline;
}

.project-img {
  float: left;
  display: inline;
  margin-right: 10px;
}
.clear {
  clear: both;
}